<!DOCTYPE html>
<html lang="en" ng-app="siteapp">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>奔跑的蜗牛</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS for the 'Round About' Template -->
    <link href="css/round-about.css" rel="stylesheet">

    <!-- Jacky customized CSS -->
    <link href="css/jacky.css" rel="stylesheet">

</head>

<body ng-controller="SiteController">

    <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.php">Running Maverick</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="books.html">书单</a> </li>
                    <li><a href="sites.html">从业必看</a> </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">从业者必读
                    <small>让有梦想的人离梦想更近</small>
                </h1>
            </div>
        </div>

        <div ng-repeat="category in sites">
            <div class="row">
                <div class="col-lg-12"> <h2 class="page-header" ng-bind="category.title"></h2> </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-xs-6 card" ng-repeat="site in category.content">
                    <h3><a target="_blank" href="{{ site.href }}" ng-bind="site.name"></a></h3>
                </div>
            </div>
        </div>
        <hr>

        <!--
        <iframe id=treeframe width=320 height=220
            src="http://player.youku.com/embed/XNzI5OTM2NDcy" frameborder=0
            allowfullscreen>
        </iframe>
        -->

        <!--高速版，加载速度快，使用前需测试页面的兼容性-->
        <div id="SOHUCS"></div>
        <script>
              (function(){
                  var appid = 'cyqU2kr6K',
                      conf = 'prod_5a7b238ba0f6502e5d6be14424b20ded';
                      var doc = document,
                          s = doc.createElement('script'),
                          h = doc.getElementsByTagName('head')[0] || doc.head || doc.documentElement;
                          s.type = 'text/javascript';
                          s.charset = 'utf-8';
                          s.src = 'http://assets.changyan.sohu.com/upload/changyan.js?conf='+ conf +'&appid=' + appid;
                          h.insertBefore(s,h.firstChild);
                          window.SCS_NO_IFRAME = true;
            })()
        </script>                

        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Jacky Zhu 2013</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /container -->

    <!-- JavaScript -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="https://cdn.firebase.com/js/client/1.1.0/firebase.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/siteapp.js"></script>

    <!-- changyan -->
    <script>
          (function(){
              var appid = 'cyqU2kr6K',
                  conf = 'prod_5a7b238ba0f6502e5d6be14424b20ded';
              var doc = document,
                  s = doc.createElement('script'),
                  h = doc.getElementsByTagName('head')[0] ||
                          doc.head || doc.documentElement;
                  s.type = 'text/javascript';
                  s.charset = 'utf-8';
                  s.src = 'http://assets.changyan.sohu.com/upload/changyan.js?conf='+
                              conf +'&appid=' + appid;
                  h.insertBefore(s,h.firstChild);
           })()
    </script>

</body>

</html>
